header {
    display: flex;
    align-items: center;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;
    padding: 0 20px;
    
}

.image {
    width: 100px;
    height: 100px;
}
nav {
    margin-left: 250px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
 a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}
.icon nav {
    text-decoration: none;
    margin-left: auto;
    
}
.dropdown {
    position: relative;
}
.drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
}
.drop-content  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.drop-content a:hover {
    cursor: pointer;
    background-color: rgb(193, 131, 238);
    color: #f9f9f9;
}
.dropdown:hover .drop-content {
    display: block;
}
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.gallery-item {
    margin: 5px;
    border: 1px solid black;
    width: 30%;
    padding: 32px;
}
.gallery-img {
    margin: 50px auto;
    width: 100%;
    height: auto;
}
.description {
    padding: 15px;
    color: white;
}
.beneath {
    margin-top: 0;
    background-color: blueviolet;
    padding: 15px;
    width: 40%;
}