.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    width: 100%;
    
}

img {
    width: 100px;
    height: 100px;
}
nav {
    margin-left: 250px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
 a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
    position: relative;
}
.drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
}
.drop-content  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.drop-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .drop-content {
    display: block;
}